In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from src.features import calc_hr_zone, calc_calories_burning_intensity

In [2]:
df_activities = pd.read_csv("activities_silver.csv")

In [3]:
df_activities

,typ_aktywnosci,dystans,suma_kalorii,srednie_tetno,srednia_predkosc,czas_ruchu,aktywnosc_stacjonarna
0,bieganie,7.02,437,161.0,10.46,2416.0,0
1,kolarstwo,4.00,85,101.0,13.07,1102.0,0
2,kolarstwo,6.98,218,120.0,14.21,1768.0,0
3,kolarstwo,0.00,486,145.0,0.00,0.0,1
4,chodzenie,3.01,169,86.0,4.23,2559.0,0
...,...,...,...,...,...,...,...
255,chodzenie,5.04,226,99.0,5.42,3347.0,1
256,kolarstwo,17.08,304,132.5,14.85,4142.0,1
257,kolarstwo,14.42,282,132.5,13.53,3837.0,1
258,chodzenie,3.28,182,99.0,5.95,1986.0,1
259,bieganie,3.04,177,166.0,8.69,1260.0,1

In [4]:
df_activities['strefa_tetna'] = df_activities.apply(lambda row: calc_hr_zone(row['srednie_tetno']), axis=1)

In [5]:
df_activities

,typ_aktywnosci,dystans,suma_kalorii,srednie_tetno,srednia_predkosc,czas_ruchu,aktywnosc_stacjonarna,strefa_tetna
0,bieganie,7.02,437,161.0,10.46,2416.0,0,4
1,kolarstwo,4.00,85,101.0,13.07,1102.0,0,1
2,kolarstwo,6.98,218,120.0,14.21,1768.0,0,2
3,kolarstwo,0.00,486,145.0,0.00,0.0,1,3
4,chodzenie,3.01,169,86.0,4.23,2559.0,0,1
...,...,...,...,...,...,...,...,...
255,chodzenie,5.04,226,99.0,5.42,3347.0,1,1
256,kolarstwo,17.08,304,132.5,14.85,4142.0,1,3
257,kolarstwo,14.42,282,132.5,13.53,3837.0,1,3
258,chodzenie,3.28,182,99.0,5.95,1986.0,1,1
259,bieganie,3.04,177,166.0,8.69,1260.0,1,4

In [6]:
df_activities['spalone_kalorie_na_minute'] = df_activities.apply(lambda row: calc_calories_burning_intensity(row['suma_kalorii'], row['czas_ruchu']), axis=1)

In [7]:
df_activities

,typ_aktywnosci,dystans,suma_kalorii,srednie_tetno,srednia_predkosc,czas_ruchu,aktywnosc_stacjonarna,strefa_tetna,spalone_kalorie_na_minute
0,bieganie,7.02,437,161.0,10.46,2416.0,0,4,10.85
1,kolarstwo,4.00,85,101.0,13.07,1102.0,0,1,4.63
2,kolarstwo,6.98,218,120.0,14.21,1768.0,0,2,7.40
3,kolarstwo,0.00,486,145.0,0.00,0.0,1,3,0.00
4,chodzenie,3.01,169,86.0,4.23,2559.0,0,1,3.96
...,...,...,...,...,...,...,...,...,...
255,chodzenie,5.04,226,99.0,5.42,3347.0,1,1,4.05
256,kolarstwo,17.08,304,132.5,14.85,4142.0,1,3,4.40
257,kolarstwo,14.42,282,132.5,13.53,3837.0,1,3,4.41
258,chodzenie,3.28,182,99.0,5.95,1986.0,1,1,5.50
259,bieganie,3.04,177,166.0,8.69,1260.0,1,4,8.43

In [10]:
df_activities[df_activities['czas_ruchu'] == 0.0]

,typ_aktywnosci,dystans,suma_kalorii,srednie_tetno,srednia_predkosc,czas_ruchu,aktywnosc_stacjonarna,strefa_tetna,spalone_kalorie_na_minute
3,kolarstwo,0.0,486,145.0,0.0,0.0,1,3,0.0
9,kolarstwo,0.0,444,144.0,0.0,0.0,1,3,0.0
12,kolarstwo,0.0,460,141.0,0.0,0.0,1,3,0.0
36,kolarstwo,0.0,425,150.0,0.0,0.0,1,3,0.0
37,kolarstwo,0.0,290,132.0,0.0,0.0,1,3,0.0
40,kolarstwo,0.0,390,137.0,0.0,0.0,1,3,0.0
45,kolarstwo,0.0,468,145.0,0.0,0.0,1,3,0.0
52,kolarstwo,0.0,366,140.0,0.0,0.0,1,3,0.0
58,kolarstwo,0.0,373,136.0,0.0,0.0,1,3,0.0
66,kolarstwo,0.0,315,133.0,0.0,0.0,1,3,0.0
68,kolarstwo,0.0,306,139.0,0.0,0.0,1,3,0.0
75,kolarstwo,0.0,364,135.0,0.0,0.0,1,3,0.0
77,kolarstwo,0.0,394,142.0,0.0,0.0,1,3,0.0
79,kolarstwo,0.0,361,143.0,0.0,0.0,1,3,0.0
95,kolarstwo,0.0,349,124.0,0.0,0.0,1,2,0.0
109,kolarstwo,0.0,298,127.0,0.0,0.0,1,2,0.0
117,kolarstwo,0.0,379,152.0,0.0,0.0,1,4,0.0
120,kolarstwo,0.0,294,138.0,0.0,0.0,1,3,0.0
122,kolarstwo,0.0,338,140.0,0.0,0.0,1,3,0.0
125,kolarstwo,0.0,295,133.0,0.0,0.0,1,3,0.0
127,kolarstwo,0.0,401,145.0,0.0,0.0,1,3,0.0
132,kolarstwo,0.0,361,139.0,0.0,0.0,1,3,0.0
141,kolarstwo,0.0,382,138.0,0.0,0.0,1,3,0.0
142,kolarstwo,0.0,443,156.0,0.0,0.0,1,4,0.0